fastapi
langgraph
langsmith
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain_ollama
openai
tqdm
python-dotenv
uvicorn
matplotlib
numpy
pandas
json_repair
openpyxl
dashscope
lammps